* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  background-color: #040f16;
}

/* Add style to the heading of the page */
h2 {
  text-align: center;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* add style the input  */
#toDoInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
/* add style to Add task button */
.addTaskButton {
  background-color: #0b4f6c;
  color: white;
  padding: 10px;
  width: 25%;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
/* Add style to the input */
input[type="text"] {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 45px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 20px;
  background-color: white;
  outline: none;
}
