* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  background-color: #040f16;
}
/* Add style to the heading of the page */
body{
  height: 800px;
}
h2 {
  text-align: center;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
}
.header{
display:flex;
justify-content: space-around;
}
/* add style the input  */
#toDoInput {
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 30px;
  float: left;
  font-size: 16px;
  outline: none;
  background-color: white;
}
/* add style to Add task button */
.addTaskButton {
  background-color: #0b4f6c;
  color: white;
  width: 25%;
  font-size: 16px;
  height: 30px;
  border-radius: 10px;
}
.list{
align-self: center;
margin-left: 19px;
margin-top: 25px; 
background-color: #0b4f6c;
width: 90%;
height: 690px;
border-radius: 10px;

}
